#board {
  display: inline-block;
  border-radius: 20px;
  max-width: 640px;
  max-height: 640px;
}

#board .row:first-child .board-item:first-child {
  border-radius: 20px 0 0 0;
}

#board .row:first-child .board-item:last-child {
  border-radius: 0 20px 0 0;
}

#board .row:last-child .board-item:first-child {
  border-radius: 0 0 0 20px;
}

#board .row:last-child .board-item:last-child {
  border-radius: 0 0 20px 0;
}

#board .row:first-child .board-item {
  border-top: 5px solid #e2e4e7;
}

#board .row .board-item:first-child {
  border-left: 5px solid #e2e4e7;
}

.board-item {
  min-width: 64px;
  min-height: 64px;
  border-bottom: 5px solid #e2e4e7;
  border-right: 5px solid #e2e4e7;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-item img {
  width: 30px;
}

.board-item img:hover {
  width: 32px;
  transition-duration: 100ms;
}

.board-item:hover {
  transition-duration: 500ms;
}

.scores {
  border-radius: 25px;
  padding: 0.2rem 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 770px) {
  #board {
    max-width: 448px;
    max-height: 448px;
  }
}

@media (max-width: 480px) {
  #board {
    max-width: 320px;
    max-height: 320px;
  }
}

@media (max-width: 350px) {
  #board {
    max-width: 192px;
    max-height: 192px;
  }
}
